// @import '../node_modules/bootstrap/scss/bootstrap';
@mixin my-mixin($path) {
  background: $path no-repeat center center;
  color: white;
}

$img-url: url(/img/moon-1817885_1920.jpg);
$text-color: blue;

.custom {
  @include my-mixin($img-url);
}

// animation
.app-enter {
  opacity: 0.01;
}

.app-enter.app-enter-active {
  opacity: 1;
  transition: opacity .5s east-in;
}

.app-leave {
  opacity: 1;
}

.app-leave.app-leave-active {
  transition: opacity .3s east-out;
}

.app-appear {
  opacity: 0.01;
}

.app-appear.app-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
